{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">
    <h1>Order Progress Page</h1>
    <hr>
    <p>Order Token: {{order.order_token}}</p>
    <p>Amount: Rs.<span id="amount-id">{{order.amount}}</span></p>
    <p id="status" class="badge bg-danger">{{order.status}}</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
</div>

<script> 
 var order_token = "{{order.order_token}}"

 var socket = new WebSocket("ws://127.0.0.1:8000/ws/order/" + order_token + "/")

 socket.onopen = function(e){
    console.log("connection established")
 }

function changeProgressBar(status, progress_percentage){
    let status_html = document.querySelector('#status');
    let progress_html = document.querySelector(".progress-bar");

    if(progress_percentage==100){
        progress_html.classList.add("bg-success")
    }else{
        progress_html.classList.remove("bg-success")
    }

    status_html.innerText = status; 
    progress_html.style.width = progress_percentage + "%"
}

 socket.onmessage = function(e){ 
    var data = JSON.parse(e.data)
    console.log(data)
    changeProgressBar(data.payload.status, data.payload.progress_percentage)
 }

</script>
{% endblock content %}